.navbar-brand img{
    height: 70px;
}

.nav-item{

    text-align: left;
}
.navbar-toggler{
    border: none;
}
 .navbar-toggler-icon{
    color: blue;

}
.nn{

padding-right: 300px;
width:950px;
margin-left: -300px;


}
.mo{
    width: 550px;
    margin-right: -100px;
    
}

 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(58,173,230, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }
  .moooo{
      width: 450px;
      margin-top: -120px;
  }
  .vvv{
      text-align: left;
  }
  .owl-carousel{
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    